<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col d-flex justify-content-around">
      <div class="col text no-pad text-right pr-2">
        <img [src]="win" alt="" />
      </div>
      <div class="col align-self-center no-pad">Win:{{ Hscore }}</div>
    </div>
    <div class="col">
      <div class="col d-flex justify-content-around">
        <div class="col text no-pad text-right pr-2">
          <img [src]="loss" alt="" />
        </div>
        <div class="col align-self-center no-pad">Loss:{{ Cscore }}</div>
      </div>
    </div>
    <div class="col">
      <div class="col d-flex justify-content-around">
        <div class="col text no-pad text-right pr-2">
          <img [src]="justice" alt="" />
        </div>
        <div class="col align-self-center no-pad">Draw:{{ DRAW }}</div>
      </div>
    </div>
  </div>
</div>

<table id="tab-tic-tac-toe" cellspacing="0">
  <tr>
    <td
      id="00"
      [ngClass]="colorcode ? 'X' : 'O'"
      (click)="clickedCell('0', '0')"
    ></td>
    <td id="01" (click)="clickedCell('0', '1')"></td>
    <td id="02" (click)="clickedCell('0', '2')"></td>
  </tr>
  <tr>
    <td id="10" (click)="clickedCell('1', '0')"></td>
    <td id="11" (click)="clickedCell('1', '1')"></td>
    <td id="12" (click)="clickedCell('1', '2')"></td>
  </tr>
  <tr>
    <td id="20" (click)="clickedCell('2', '0')"></td>
    <td id="21" (click)="clickedCell('2', '1')"></td>
    <td id="22" (click)="clickedCell('2', '2')"></td>
  </tr>
</table>

<br /><br />
<div class="container">
  <div class="row">
    <div class="col text-center">
      <div class="buttons text-center">
        <!-- Rounded switch -->
        <button type="button" (click)="restartBnt()" class="btn btn-primary">
          {{ restartText }}
        </button>
      </div>
    </div>
  </div>
</div>
