<div class="container">
  <div class="columns margin">
    <div class="column">
      <div class="columns is-mobile is-centered is-vcentered">
        <div class="column has-text-right">
          <img [src]="win" alt="" />
        </div>
        <div class="column">
          <span class="title">Wins :</span><br />
          <span class="subtitle">10</span>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="columns is-mobile is-centered is-vcentered">
        <div class="column has-text-right">
          <img [src]="loss" alt="" />
        </div>
        <div class="column">
          <span class="title">Loss :</span><br />
          <span class="subtitle">10</span>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="columns is-mobile is-centered is-vcentered">
        <div class="column has-text-right">
          <img [src]="justice" alt="" />
        </div>
        <div class="column">
          <span class="title">Draw :</span><br />
          <span class="subtitle">10</span>
        </div>
      </div>
    </div>
  </div>
</div>
<table id="tab-tic-tac-toe" cellspacing="0">
  <tr>
    <td
      id="00"
      [ngClass]="colorcode ? 'X' : 'O'"
      (click)="clickedCell('0', '0')"
    ></td>
    <td id="01" (click)="clickedCell('0', '1')"></td>
    <td id="02" (click)="clickedCell('0', '2')"></td>
  </tr>
  <tr>
    <td id="10" (click)="clickedCell('1', '0')"></td>
    <td id="11" (click)="clickedCell('1', '1')"></td>
    <td id="12" (click)="clickedCell('1', '2')"></td>
  </tr>
  <tr>
    <td id="20" (click)="clickedCell('2', '0')"></td>
    <td id="21" (click)="clickedCell('2', '1')"></td>
    <td id="22" (click)="clickedCell('2', '2')"></td>
  </tr>
</table>

<br /><br />
<div class="columns">
  <div class="column">
    <div class="buttons is-right">
      <!-- Rounded switch -->
      <div class="onoffswitch">
        <input
          type="checkbox"
          name="onoffswitch"
          [disabled]="restartDisable"
          class="onoffswitch-checkbox"
          (click)="restartBnt()"
          id="myonoffswitch"
          checked
        />
        <label class="onoffswitch-label" for="myonoffswitch">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="column" style="padding: 20px;">
    <a (click)="restartOnly()" class="button is-primary">Restart</a>
  </div>
</div>
