/* ****************** Body, head etc ****************** */
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #00AEEA;
  color: #eee;
  text-align: center;
  height: 60px;
  padding-top: 5px;
  display: block;
  margin-top: 0px;
  margin-bottom: 60px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

p {
  font-size: 14pt;
  font-weight: bold;
  font-family: Sans;
  text-align: center;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a {
  color: #00AEEA;
  text-decoration: none;
}

a:hover {
  color: #00AEEA;
}

a:visited {
  color: #00AEEA;
}

/* ****************** Table style ****************** */
#tab-tic-tac-toe {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  font-size: 4em;
  font-family: logo;
  /* color: #444; */
  /* background: #F8F8F8; */
  width: 310px;
  height: 300px;
  text-align: center;
  vertical-align: center;
  border: 0px
}

/*Column style*/
#tab-tic-tac-toe td {
  border-collapse: collapse;
  border-left: 3px solid rgb(231, 231, 231);
  border-bottom: 3px solid rgb(231, 231, 231);

}

#tab-tic-tac-toe td:first-child {
  border-left: none;
}

#tab-tic-tac-toe tr:last-child td {
  border-bottom: none;
}

/*Cells*/
#tab-tic-tac-toe td {
  cursor: pointer;
  height: 95px;
  width: 95px;
}

#tab-tic-tac-toe td:hover {
  background: #ECECEC;
  z-index: -555;
}

/* ****************** Restart Button ****************** */
.bnt-restart {
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  background: #00AEEA;
  font-size: 1.5em;
  color: #FFF;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#bnt-restart:hover {
  background: #1DC5FF;
}

#bnt-restart:active {
  background: #0787B3;
}

#bnt-restart:disabled {
  color: #444;
  background: #CECECE;
}

/* My CHANGES */
.X {
  color: rgb(243, 92, 120);
}

.O {
  color: rgb(68, 181, 241);
}

table td:not([align]),
table th:not([align]) {
  text-align: center !important;
}

/* .buttons {
  position: absolute;
  bottom: 2.6em;
} */

.btn {
  background-color: gray;
  color: gray;
  border-radius: 50%;
  width: 50%;
}

.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 200px;
  height: 140px;
  box-sizing: border-box;
}

.button-cover {
  height: 100px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "X";
  padding-left: 10px;
  background-color: #34A7C1;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "Y";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.pulse {
  animation-duration: 0.6s;
}

.red {
  color: red !important;
}

.restart {
  background-color: gray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.margin {
  margin: 1.6em;
}
